img.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
a {
  color: #46a7ff;
	text-decoration: none;
	transition: all 400ms ease-in 0s;
	transition-property: all;
	transition-duration: 400ms;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}
a:hover,
a:focus {
  color: #1f73c1;
  transition: all 400ms ease-out 0s;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  transition-delay: 0s;
	text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
hr.soften {
  height: 1px;
  margin: 10px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
.rtl {
	direction: rtl !IMPORTANT;
}
.list-unstyled {
	-webkit-padding-start: 0px;
}
.copyright {
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #2d2d2d;
  border-left: 1px solid #222222;
}
::-webkit-scrollbar:hover {
  background-color: rgba(45, 45, 45, 1);
}
::-webkit-scrollbar-thumb:vertical {
  background: #ff8d00;
  -webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: #df7c00;
  -webkit-border-radius: 0px;
}
